
.posts{
	@include span(7 of 12);
	margin-bottom:1.25em; /*20/16*/
	padding-left: 5.416666666667%; /*65/1200*/
			
	h4{
		margin-bottom:0.3em;
		
	}	
}

.postsblog{

	position: relative;
		
	span{
		width:35px;
		height:35px;
		text-indent: -9999px;
		background: black;
		display:inline-block;
		border-radius: 100%;
		position:absolute;
		left:0px;
	}

	.tagblog{
		background:url("img/blog.png") no-repeat center;
		background-size: 100%;
	}

	.tagprojet{
		background:url("img/projet.png") no-repeat center;
		background-size: 100%;
	}
}




.articleslist, .titresans{
	margin:5.625em 0px; /*90/16*/
	border:none;

	h3{
		display:block;
	}
}

.tri{
		text-align: left;
		border-top:1px solid #C8C8C8;
		padding-top:0.625em; /*10/16*/
			
	a{
		text-decoration: none;
		margin-right:1.666666666667%; /*20/1200*/
		padding-top:0.4375em; /*7/16*/
		@include transition_css(all,0.5s,ease,0);
		border-top:2px solid rgba(1,1,1,0);
		color:black;


		&:last-child{
			margin:0px;
		}

		&:hover{
			border-top:2px solid black;
		}

	}
	
	.triselect{
		border-top:2px solid black;
				
	}
}

.tag{
	color:black;
	margin-right:0.416666666667%; /*5/1200*/
}


.linkarticle{
	text-decoration: none;
	color:black;
	display: inline-block;
}

.article__tag, .singlepost{
	width:75%;
	margin:0px auto;
}

.singlepost{

	p{
		width:75%;
		margin:0px auto 1.04166666666667em auto;
	}

	img{
		width:100%;
	}
	
}

.allarticles{
	margin-top: 5em; /*80/16*/


	h4{
		margin-bottom:0.3125em; 
	}

	.infosarticle{
		margin-top:0.9375em; /*15/16*/
		
		p{
			display: inline;
			
			&:after{
				content:"|";
				margin:0px 0.833333333333%; /*10/1200*/
			}
		}

	}
}

.singlearticle{
	padding-bottom: 1.25em; /*20/16*/
	margin-bottom: 1.25em;
	border-bottom:1px solid #C8C8C8;

	&:last-child{
		border-bottom:none;
		margin-bottom: 0px;
	}
}
