
	.intro{
		font-size: 26px;
		font-style: italic;
		font-weight: lighter;
		text-align: center;
		padding: 0px 0px 90px;
		color:#676767;
		width:83.333333333333%; //1000px


		margin: 0px auto;

		h3{
			position: absolute;
			text-indent: -9999px;
			visibility: hidden;
		}
		
	}

	.introabout{

		padding-bottom:0px;

	}