.intro{		
	color:#676767;
	width:83.333333333333%; //1000px
}

.without{
	margin-bottom: 3.46153846153846em; /*90/26px*/
}

.with{
	margin: 3.46153846153846em auto;
}



h3.visuallyhidden{
	padding:0px;
	margin:0px;
}
		