
@media all and (min-width:1250px) and (max-width:1300px){

	.post{
			@include span(6 of 12);
	}


}


@media all and (min-width:1000px) and (max-width:1249px){

	.post{
			@include span(6 of 12);
	}


}


@media all and (max-width:999px){

	.post--featured, #twitter{
		display:inline-block;
		width:100%;
		float:none;

	}

	.post{
		padding-left:10%;
	}

	#twitter{		
		margin-top:5em;
	}

	.bouton{
		width:35%;
	}

	.header__illu{
		height:100%;
		width:auto;
	}


}

@media all and (max-width:850px){
	


	a.projets--featured, a.projets--listed{
		width:100%;
		margin-bottom:3em;

	}


	.projets:hover div{
		visibility: hidden;

	}



		.header__text{
			width:80%;
			margin:0px auto;
		}




}

@media all and (max-width:600px){

	
	.bio__portrait, .bio p, .history__list, .bio_title, .form-container, .projet__texte, .projet__outils, .outils__list,{
		width:100%;

	}



	.map{
		display:none;
	}


	.bio__portrait, .projet--single div.textes{
		margin-bottom:2em;
	}

	.wrapper--large{
		width: 90%;
	}

	.menu{
		font-size:0.9em;
	}

	.single-article, .bio__title, .projets div h4, {
	font-size:0.9em;
}

.bouton{
		width:60%;
	}

		.post{
		padding-left:15%;
	}

	.wrapper-large section h3{
		font-size:1em;
		top:-10px;
	}

	.intro{
		font-size:1.2em;
	}


	.footer__logos .footer__link{
		margin:0px auto 2em;
		display:block;

			&:last-child{
				margin:0px auto 2em;
			}
	}





	.header__title{
		font-size: 2.1em; /*50/16*/
	}

	.header__subtitle{
		font-size:1.9em; /*40/16*/
	}

	
}

