.intro{		
	color:#676767;
	width:83.333333333333%; //1000px
	font-weight:300;
	text-align:center;
	font-style: italic;
	font-size: 1.625em; /*26/16*/
}


.intro--spaced{
	margin: 3.46153846153846em auto;
}



h3.visuallyhidden{
	padding:0px;
	margin:0px;
}
		