.bouton{
	clear:both;
	width:20%;
	color:#929292;
	border:1.5px #9B9B9B solid;
	@include last;
	text-decoration: none;
	padding:5px;
	background: white;

	@include transition_css(all,0.5s,ease-in-out,0);

	&:hover{
		border:1.5px black solid;
		color:black;
	}
}