.singleprojet{
	position: relative;
	


	img{
		width:100%;
		margin-bottom:3.75em; /*60/16*/
	}

	&>.textes{
		@include span(7 of 15);

		
		p{
			margin-bottom:1.25em; /*20/16*/

			&:last-child{
				margin-bottom:0px;
			}
		}
	}

}

.outils{

	@include span(7 of 15);
	@include last;

	h4{
		margin-bottom:1.33928571428571em; /*30/22.4*/
	}

	li{
		@include span(1 of 6);
		@include first;
		margin-right:2%;

		&:nth-child(6n+6){
			margin : 0px;
		}
	}

	ul{
		width:80%;
		margin: 0px auto;
	}

}
