
section{
	border-top: 2px solid #DDDDDD;
	clear: both;
	position:relative;
	
	h3{

		color:#676767;
		position: relative;
		background: white;
		padding:0px 35px;
		top:-14px;
		margin: 0px auto;
		display:inline-block;
		margin-bottom:80px

		
	}
}

.inner{
	margin-bottom:70px;
}