/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
Theme Name: Portfolio
Author Name: Axel Cardinaels

*/
/* line 20, sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 30, sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 41, sass/style.scss */
body, html {
  height: 100%;
  font-family: "source sans pro"; }

/* line 46, sass/style.scss */
#container {
  width: 100%; }

/* line 53, sass/style.scss */
.home {
  animation: header 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: header 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  height: 100%; }
  /* line 62, sass/style.scss */
  .home .textheader {
    top: 45%; }
  /* line 67, sass/style.scss */
  .home nav {
    animation: nav 2s ease-in-out 3s;
    animation-fill-mode: forwards;
    -webkit-animation: nav 2s ease-in-out 3s;
    -webkit-animation-fill-mode: forwards; }

/* line 78, sass/style.scss */
.location {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 49%;
  top: 43%;
  border-radius: 100%;
  border: 2px solid white; }

/* line 88, sass/style.scss */
.map {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  height: 560px;
  position: relative; }
  /* line 96, sass/style.scss */
  .map #map-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  /* line 105, sass/style.scss */
  .map .oupeye {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    color: white;
    background: rgba(1, 1, 1, 0.3);
    height: 100%;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0; }
    /* line 115, sass/style.scss */
    .map .oupeye > p {
      position: absolute;
      top: 50%;
      width: 100%; }
  /* line 123, sass/style.scss */
  .map:hover .oupeye {
    opacity: 0; }

/* line 130, sass/style.scss */
header {
  background: black;
  width: 100%;
  color: white;
  height: 40%;
  position: relative;
  overflow: hidden; }
  /* line 140, sass/style.scss */
  header video {
    position: absolute;
    z-index: 0; }
  /* line 145, sass/style.scss */
  header h1 {
    text-transform: uppercase;
    font-size: 50px; }
  /* line 150, sass/style.scss */
  header h2 {
    font-size: 40px;
    font-style: italic; }
  /* line 155, sass/style.scss */
  header .textheader {
    position: relative;
    width: 900px;
    margin: 0px auto;
    font-weight: bold;
    z-index: 2;
    top: 30%; }
  /* line 166, sass/style.scss */
  header nav {
    width: 100%;
    font-weight: lighter;
    font-size: 18px;
    position: absolute;
    bottom: 2em;
    text-align: center;
    opacity: 0;
    z-index: 3;
    animation: nav 1s ease-in-out 0s;
    animation-fill-mode: forwards;
    -webkit-animation: nav 1s ease-in-out 0s;
    -webkit-animation-fill-mode: forwards; }
    /* line 185, sass/style.scss */
    header nav .items {
      margin: 0 auto; }
    /* line 195, sass/style.scss */
    header nav li {
      display: inline-block;
      margin-right: 5.952380952381%;
      /*100/1680*/ }
      /* line 198, sass/style.scss */
      header nav li:last-child {
        margin: 0px; }
    /* line 207, sass/style.scss */
    header nav a {
      color: white;
      text-decoration: none;
      width: 100%;
      -moz-transition: all 0.5s ease-in-out 0;
      -ms-transition: all 0.5s ease-in-out 0;
      -webkit-transition: all 0.5s ease-in-out 0;
      transition: all 0.5s ease-in-out 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0); }
      /* line 214, sass/style.scss */
      header nav a:hover {
        border-bottom: 2px solid white; }
    /* line 219, sass/style.scss */
    header nav h3 {
      position: absolute;
      text-indent: -9999px;
      visibility: hidden; }
  /* line 229, sass/style.scss */
  header .current-menu-item {
    border-bottom: 2px solid white; }

/* line 236, sass/style.scss */
div.container div.introabout {
  padding-bottom: 0px; }

/* line 242, sass/style.scss */
.container {
  width: 71.428571428571%;
  margin: 0px auto; }
  /* line 246, sass/style.scss */
  .container .push {
    margin-bottom: 90px; }
  /* line 250, sass/style.scss */
  .container .allproject {
    clear: both;
    width: 20%;
    color: #C8C8C8;
    border: 1.5px #C8C8C8 solid;
    float: right;
    margin-right: 0;
    text-decoration: none;
    padding: 5px;
    background: white;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0; }
    /* line 263, sass/style.scss */
    .container .allproject:hover {
      border: 1.5px black solid;
      color: black; }
  /* line 274, sass/style.scss */
  .container .intro {
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 90px 0px;
    color: #676767;
    width: 83.333333333333%;
    margin: 0px auto; }
    /* line 286, sass/style.scss */
    .container .intro h3 {
      position: absolute;
      text-indent: -9999px;
      visibility: hidden; }
  /* line 294, sass/style.scss */
  .container .articleslist, .container .titresans {
    margin: 90px 0px;
    border: none; }
    /* line 298, sass/style.scss */
    .container .articleslist h3, .container .titresans h3 {
      display: block; }
    /* line 302, sass/style.scss */
    .container .articleslist .messageform, .container .titresans .messageform {
      width: 45.94595%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      text-align: left;
      margin-bottom: 125px; }
      /* line 308, sass/style.scss */
      .container .articleslist .messageform input, .container .articleslist .messageform textarea, .container .titresans .messageform input, .container .titresans .messageform textarea {
        width: 100%;
        border: 1px #67676 solid; }
      /* line 319, sass/style.scss */
      .container .articleslist .messageform input, .container .titresans .messageform input {
        font-weight: lighter;
        font-size: 0.9em;
        height: 40px;
        margin-bottom: 20px; }
        /* line 326, sass/style.scss */
        .container .articleslist .messageform input:focus, .container .titresans .messageform input:focus {
          border: none;
          outline: none; }
      /* line 334, sass/style.scss */
      .container .articleslist .messageform textarea, .container .titresans .messageform textarea {
        height: 120px;
        margin-bottom: 20px; }
        /* line 337, sass/style.scss */
        .container .articleslist .messageform textarea:focus, .container .titresans .messageform textarea:focus {
          border: none;
          outline: none; }
    /* line 349, sass/style.scss */
    .container .articleslist .tri, .container .titresans .tri {
      text-align: left;
      border-top: 1px solid #C8C8C8;
      padding-top: 10px; }
      /* line 356, sass/style.scss */
      .container .articleslist .tri a, .container .titresans .tri a {
        text-decoration: none;
        margin-right: 20px;
        padding-top: 7px;
        -moz-transition: all 0.5s ease 0;
        -ms-transition: all 0.5s ease 0;
        -webkit-transition: all 0.5s ease 0;
        transition: all 0.5s ease 0;
        border-top: 2px solid rgba(1, 1, 1, 0); }
        /* line 364, sass/style.scss */
        .container .articleslist .tri a:last-child, .container .titresans .tri a:last-child {
          margin: 0px; }
        /* line 368, sass/style.scss */
        .container .articleslist .tri a:hover, .container .titresans .tri a:hover {
          border-top: 2px solid black; }
      /* line 373, sass/style.scss */
      .container .articleslist .tri .triselect, .container .titresans .tri .triselect {
        border-top: 2px solid black; }
    /* line 379, sass/style.scss */
    .container .articleslist .portrait, .container .titresans .portrait {
      width: 32.43243%;
      float: left;
      margin-right: 1.35135%;
      margin-left: 0;
      overflow: hidden;
      height: 500px;
      margin-bottom: 125px; }
      /* line 386, sass/style.scss */
      .container .articleslist .portrait img, .container .titresans .portrait img {
        width: 100%; }
    /* line 392, sass/style.scss */
    .container .articleslist .bio, .container .titresans .bio {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      text-align: left; }
    /* line 397, sass/style.scss */
    .container .articleslist .bio p, .container .articleslist .bio ul, .container .titresans .bio p, .container .titresans .bio ul {
      margin-bottom: 15px;
      width: 59.45946%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      font-weight: 300; }
    /* line 404, sass/style.scss */
    .container .articleslist .bio li, .container .titresans .bio li {
      margin-bottom: 10px; }
    /* line 408, sass/style.scss */
    .container .articleslist .bio h4, .container .titresans .bio h4 {
      width: 59.45946%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      font-weight: 500;
      font-size: 1.2em;
      margin: 20px auto; }
    /* line 418, sass/style.scss */
    .container .articleslist .allarticles, .container .titresans .allarticles {
      text-align: left;
      margin-top: 80px; }
      /* line 422, sass/style.scss */
      .container .articleslist .allarticles .singlearticle, .container .titresans .allarticles .singlearticle {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #C8C8C8; }
        /* line 427, sass/style.scss */
        .container .articleslist .allarticles .singlearticle:last-child, .container .titresans .allarticles .singlearticle:last-child {
          border-bottom: none;
          margin-bottom: 0px; }
      /* line 433, sass/style.scss */
      .container .articleslist .allarticles h4, .container .titresans .allarticles h4 {
        font-weight: 600;
        margin-bottom: 5px; }
      /* line 438, sass/style.scss */
      .container .articleslist .allarticles .infosarticle, .container .titresans .allarticles .infosarticle {
        margin-top: 15px; }
        /* line 442, sass/style.scss */
        .container .articleslist .allarticles .infosarticle p, .container .titresans .allarticles .infosarticle p {
          display: inline; }
          /* line 445, sass/style.scss */
          .container .articleslist .allarticles .infosarticle p:after, .container .titresans .allarticles .infosarticle p:after {
            content: "|";
            margin: 0px 10px; }
  /* line 455, sass/style.scss */
  .container section {
    border-top: 2px solid #DDDDDD;
    clear: both;
    position: relative;
    text-align: center; }
    /* line 462, sass/style.scss */
    .container section h3 {
      font-size: 22px;
      font-weight: semibold;
      font-style: italic;
      color: #676767;
      position: relative;
      background: white;
      padding: 0px 35px;
      top: -14px;
      text-align: center;
      margin: 0px auto;
      display: inline-block;
      margin-bottom: 70px; }
  /* line 487, sass/style.scss */
  .container .lasttravaux .projets {
    box-shadow: 0px 0px 9px rgba(1, 1, 1, 0.3); }
  /* line 492, sass/style.scss */
  .container .lasttravaux .featured {
    width: 45.94595%;
    float: left;
    margin-right: 1.35135%;
    margin-bottom: 90px; }
    /* line 496, sass/style.scss */
    .container .lasttravaux .featured:nth-child(even) {
      float: right;
      margin-right: 0; }
  /* line 501, sass/style.scss */
  .container .lasttravaux .listed {
    width: 30.37975%;
    float: left;
    margin-right: 1.26582%;
    margin-bottom: 50px;
    margin-right: 50px; }
    /* line 506, sass/style.scss */
    .container .lasttravaux .listed:nth-child(3n+3) {
      margin-right: 0px; }
    /* line 510, sass/style.scss */
    .container .lasttravaux .listed:last-child {
      margin-bottom: 125px; }
  /* line 514, sass/style.scss */
  .container .lasttravaux > a {
    position: relative;
    overflow: hidden; }
    /* line 523, sass/style.scss */
    .container .lasttravaux > a > figure > img {
      width: 100%; }
    /* line 532, sass/style.scss */
    .container .lasttravaux > a div {
      visibility: hidden;
      position: absolute;
      height: 100%;
      bottom: 100%;
      transition: all 0.3s ease-in-out;
      background: rgba(1, 1, 1, 0.6);
      opacity: 0;
      z-index: 2;
      color: white;
      width: 100%;
      text-align: left;
      padding: 30px;
      font-size: 0.95em; }
      /* line 549, sass/style.scss */
      .container .lasttravaux > a div h4 {
        font-size: 1.2em;
        margin-bottom: 10px; }
    /* line 558, sass/style.scss */
    .container .lasttravaux > a:hover div {
      visibility: visible;
      opacity: 1;
      bottom: 0px; }
  /* line 573, sass/style.scss */
  .container .postsblog {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    /* line 12, sass/susy/output/support/_clearfix.scss */
    .container .postsblog:after {
      content: " ";
      display: block;
      clear: both; }
    /* line 578, sass/style.scss */
    .container .postsblog span {
      width: 35px;
      height: 35px;
      text-indent: -9999px;
      background: black;
      display: inline-block;
      border-radius: 100%;
      position: absolute;
      left: 0px; }
    /* line 593, sass/style.scss */
    .container .postsblog .tagblog {
      background: url("../img/blog.png") no-repeat center;
      background-size: 100%; }
    /* line 599, sass/style.scss */
    .container .postsblog .tagprojet {
      background: url("../img/projet.png") no-repeat center;
      background-size: 100%; }
    /* line 605, sass/style.scss */
    .container .postsblog .posts {
      width: 57.62712%;
      float: left;
      margin-right: 1.69492%;
      margin-bottom: 20px;
      text-align: justify;
      padding-left: 65px; }
      /* line 612, sass/style.scss */
      .container .postsblog .posts h4 {
        margin-bottom: 5px;
        font-weight: 500; }
      /* line 617, sass/style.scss */
      .container .postsblog .posts p {
        font-size: 0.9em; }
    /* line 627, sass/style.scss */
    .container .postsblog .twitter {
      border: 1px solid black;
      width: 40.67797%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      position: absolute;
      top: 0px;
      right: 0px; }

/* line 644, sass/style.scss */
footer {
  width: 100%;
  margin: 100px auto 0px auto;
  border-top: 1.5px solid #DDDDDD;
  clear: both; }
  /* line 651, sass/style.scss */
  footer .logosfooter {
    text-align: center;
    margin: 80px auto; }
    /* line 656, sass/style.scss */
    footer .logosfooter a {
      height: 40px;
      display: inline-block;
      overflow: hidden;
      background-image: url("img/socialsprite.png");
      -moz-transition: all 0.15s ease-in-out 0;
      -ms-transition: all 0.15s ease-in-out 0;
      -webkit-transition: all 0.15s ease-in-out 0;
      transition: all 0.15s ease-in-out 0;
      display: inline-block;
      margin-right: 10%; }
      /* line 665, sass/style.scss */
      footer .logosfooter a:last-child {
        margin: 0px; }
  /* line 673, sass/style.scss */
  footer .dribbble {
    width: 40px;
    background-position: -81px 0px; }
    /* line 678, sass/style.scss */
    footer .dribbble:hover {
      background-position: -81px -78px; }
  /* line 683, sass/style.scss */
  footer .behance {
    width: 62px;
    background-position: 0 0px; }
    /* line 687, sass/style.scss */
    footer .behance:hover {
      background-position: 0px -78px; }
  /* line 693, sass/style.scss */
  footer .twitter {
    width: 47px;
    background-position: -304px -1px; }
    /* line 697, sass/style.scss */
    footer .twitter:hover {
      background-position: -304px -78px; }
  /* line 702, sass/style.scss */
  footer .linkedin {
    width: 145px;
    background-position: -139px -1px; }
    /* line 706, sass/style.scss */
    footer .linkedin:hover {
      background-position: -139px -78px; }

@-webkit-keyframes header {
  /* line 717, sass/style.scss */
  from {
    height: 0%; }

  /* line 718, sass/style.scss */
  to {
    height: 100%; } }
@keyframes header {
  /* line 722, sass/style.scss */
  from {
    height: 0%; }

  /* line 723, sass/style.scss */
  to {
    height: 100%; } }
@-webkit-keyframes nav {
  /* line 728, sass/style.scss */
  from {
    opacity: 0; }

  /* line 729, sass/style.scss */
  to {
    opacity: 1; } }
@keyframes nav {
  /* line 733, sass/style.scss */
  from {
    opacity: 0; }

  /* line 734, sass/style.scss */
  to {
    opacity: 1; } }
