/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, sass/_header.scss */
.home {
  animation: header 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: header 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  height: 100%; }
  /* line 10, sass/_header.scss */
  .home .textheader {
    top: 45%; }
  /* line 15, sass/_header.scss */
  .home nav {
    animation: nav 2s ease-in-out 3s;
    animation-fill-mode: forwards;
    -webkit-animation: nav 2s ease-in-out 3s;
    -webkit-animation-fill-mode: forwards; }

/* line 24, sass/_header.scss */
header {
  background: black;
  width: 100%;
  color: white;
  height: 40%;
  position: relative;
  overflow: hidden; }

/* line 35, sass/_header.scss */
.cache {
  background: rgba(1, 1, 1, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; }

/* line 43, sass/_header.scss */
.largeillu {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 0; }

/* line 50, sass/_header.scss */
video {
  position: absolute;
  z-index: 0; }

/* line 57, sass/_header.scss */
.textheader {
  position: relative;
  width: 53.571428571429%;
  /*900px/1680*/
  margin: 0px auto;
  z-index: 2;
  top: 30%; }

/* line 67, sass/_header.scss */
nav {
  width: 100%;
  position: absolute;
  bottom: 2em;
  text-align: center;
  opacity: 0;
  z-index: 3;
  animation: nav 1s ease-in-out 0s;
  animation-fill-mode: forwards;
  -webkit-animation: nav 1s ease-in-out 0s;
  -webkit-animation-fill-mode: forwards; }
  /* line 84, sass/_header.scss */
  nav .items {
    margin: 0 auto; }
  /* line 94, sass/_header.scss */
  nav li {
    display: inline-block;
    margin-right: 5.952380952381%;
    /*100/1680*/ }
    /* line 97, sass/_header.scss */
    nav li:last-child {
      margin: 0px; }
  /* line 106, sass/_header.scss */
  nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0); }
    /* line 113, sass/_header.scss */
    nav a:hover {
      border-bottom: 2px solid white; }
  /* line 118, sass/_header.scss */
  nav h3 {
    position: absolute;
    text-indent: -9999px;
    visibility: hidden; }

/* line 128, sass/_header.scss */
.current-menu-item {
  border-bottom: 2px solid white; }

@-webkit-keyframes header {
  /* line 134, sass/_header.scss */
  from {
    height: 0%; }

  /* line 135, sass/_header.scss */
  to {
    height: 100%; } }
@keyframes header {
  /* line 139, sass/_header.scss */
  from {
    height: 0%; }

  /* line 140, sass/_header.scss */
  to {
    height: 100%; } }
@-webkit-keyframes nav {
  /* line 145, sass/_header.scss */
  from {
    opacity: 0; }

  /* line 146, sass/_header.scss */
  to {
    opacity: 1; } }
@keyframes nav {
  /* line 150, sass/_header.scss */
  from {
    opacity: 0; }

  /* line 151, sass/_header.scss */
  to {
    opacity: 1; } }
/* line 1, sass/_intro.scss */
.intro {
  color: #676767;
  width: 83.333333333333%; }

/* line 6, sass/_intro.scss */
.without {
  margin-bottom: 3.46153846153846em;
  /*90/26px*/ }

/* line 10, sass/_intro.scss */
.with {
  margin: 3.46153846153846em auto; }

/* line 16, sass/_intro.scss */
h3.visuallyhidden {
  padding: 0px;
  margin: 0px; }

/* line 1, sass/_previewprojets.scss */
.projets {
  box-shadow: 0px 0px 9px rgba(1, 1, 1, 0.3);
  position: relative;
  overflow: hidden; }
  /* line 6, sass/_previewprojets.scss */
  .projets div {
    visibility: hidden;
    position: absolute;
    height: 100%;
    bottom: 100%;
    transition: all 0.3s ease-in-out;
    background: rgba(1, 1, 1, 0.6);
    opacity: 0;
    z-index: 2;
    color: white;
    width: 100%;
    padding: 2.08333333333333em;
    /*30/14.4*/ }
    /* line 19, sass/_previewprojets.scss */
    .projets div h4 {
      margin-bottom: 10px; }
  /* line 26, sass/_previewprojets.scss */
  .projets:hover div {
    visibility: visible;
    opacity: 1;
    bottom: 0px; }

/* line 34, sass/_previewprojets.scss */
.featured {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  margin-bottom: 5.625em;
  /*90/16*/ }
  /* line 38, sass/_previewprojets.scss */
  .featured:nth-child(even) {
    float: right;
    margin-right: 0; }

/* line 43, sass/_previewprojets.scss */
.listed {
  width: 30.37975%;
  float: left;
  margin-right: 1.26582%;
  margin-bottom: 3.125em;
  /*50/16*/
  margin-right: 4.166666666667%;
  /*50/365*/ }
  /* line 48, sass/_previewprojets.scss */
  .listed:nth-child(3n+3) {
    margin-right: 0px; }
  /* line 52, sass/_previewprojets.scss */
  .listed:last-child {
    margin-bottom: 0px; }

/* line 57, sass/_previewprojets.scss */
.imgpreview {
  width: 100%; }

/* line 1, sass/_ui.scss */
.bouton {
  clear: both;
  width: 20%;
  color: #C8C8C8;
  border: 1.5px #DCDCDC solid;
  float: right;
  margin-right: 0;
  text-decoration: none;
  padding: 5px;
  background: white;
  -moz-transition: all 0.5s ease-in-out 0;
  -ms-transition: all 0.5s ease-in-out 0;
  -webkit-transition: all 0.5s ease-in-out 0;
  transition: all 0.5s ease-in-out 0; }
  /* line 13, sass/_ui.scss */
  .bouton:hover {
    border: 1.5px black solid;
    color: black; }

/* line 6, sass/_contact.scss */
.oupeye {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  color: white;
  background: rgba(1, 1, 1, 0.3);
  height: 100%;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out 0;
  -ms-transition: all 0.5s ease-in-out 0;
  -webkit-transition: all 0.5s ease-in-out 0;
  transition: all 0.5s ease-in-out 0; }
  /* line 18, sass/_contact.scss */
  .oupeye > p {
    position: absolute;
    top: 50%;
    width: 100%; }

/* line 27, sass/_contact.scss */
#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; }

/* line 35, sass/_contact.scss */
.map {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  height: 33.5em;
  /*560/16*/
  position: relative; }
  /* line 40, sass/_contact.scss */
  .map:hover .oupeye {
    opacity: 0; }

/* line 47, sass/_contact.scss */
.messageform {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  float: right;
  margin-right: 0; }
  /* line 51, sass/_contact.scss */
  .messageform .fullwidth {
    margin-left: auto;
    margin-right: auto;
    width: 90%; }
  /* line 57, sass/_contact.scss */
  .messageform input, .messageform textarea {
    width: 100%;
    border: 1px #DCDCDC solid; }
  /* line 65, sass/_contact.scss */
  .messageform input:focus, .messageform textarea:focus {
    border: none;
    outline: none; }
  /* line 71, sass/_contact.scss */
  .messageform input[type="text"] {
    margin-bottom: 1.73611111111111em;
    /*14.4/25*/
    padding: 0.9em 1.890359168242%;
    /*15/14.4 et 10/529*/ }
    /* line 75, sass/_contact.scss */
    .messageform input[type="text"]:focus {
      border-bottom: 1px #DCDCDC dashed; }
  /* line 81, sass/_contact.scss */
  .messageform textarea {
    height: 12.36111111111111em;
    margin-bottom: 1.2em; }

/* line 1, sass/_footer.scss */
footer {
  width: 100%;
  margin: 100px auto 5em auto;
  border-top: 1.5px solid #DDDDDD; }
  /* line 8, sass/_footer.scss */
  footer .logosfooter {
    margin: 5em auto 0px;
    /*80/16*/ }
    /* line 12, sass/_footer.scss */
    footer .logosfooter a {
      height: 40px;
      display: inline-block;
      overflow: hidden;
      background-image: url("img/socialsprite.png");
      -moz-transition: all 0.15s ease-in-out 0;
      -ms-transition: all 0.15s ease-in-out 0;
      -webkit-transition: all 0.15s ease-in-out 0;
      transition: all 0.15s ease-in-out 0;
      display: inline-block;
      margin-right: 10%; }
      /* line 21, sass/_footer.scss */
      footer .logosfooter a:last-child {
        margin: 0px; }
  /* line 29, sass/_footer.scss */
  footer .dribbble {
    width: 40px;
    background-position: -81px 0px; }
    /* line 34, sass/_footer.scss */
    footer .dribbble:hover {
      background-position: -81px -78px; }
  /* line 39, sass/_footer.scss */
  footer .behance {
    width: 62px;
    background-position: 0 0px; }
    /* line 43, sass/_footer.scss */
    footer .behance:hover {
      background-position: 0px -78px; }
  /* line 49, sass/_footer.scss */
  footer a.twitter {
    width: 47px;
    background-position: -304px -1px; }
    /* line 53, sass/_footer.scss */
    footer a.twitter:hover {
      background-position: -304px -78px; }
  /* line 58, sass/_footer.scss */
  footer .linkedin {
    width: 145px;
    background-position: -139px -1px; }
    /* line 62, sass/_footer.scss */
    footer .linkedin:hover {
      background-position: -139px -78px; }

/* line 1, sass/_classUtils.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

/* line 10, sass/_classUtils.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 2, sass/_section.scss */
section {
  border-top: 2px solid #DDDDDD;
  clear: both;
  position: relative; }
  /* line 7, sass/_section.scss */
  section h3 {
    color: #676767;
    position: relative;
    background: white;
    padding: 0px 2.916666666667%;
    /*35/1200*/
    top: -14px;
    margin: 0px auto;
    display: inline-block;
    margin-bottom: 3.63636363636364em;
    /*80/22*/ }

/* line 22, sass/_section.scss */
.inner {
  margin-bottom: 4.375em;
  /*70/16*/ }

/* line 2, sass/_blog.scss */
.posts {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 1.25em;
  /*20/16*/
  padding-left: 5.416666666667%;
  /*65/1200*/ }
  /* line 7, sass/_blog.scss */
  .posts h4 {
    margin-bottom: 0.3em; }

/* line 13, sass/_blog.scss */
.postsblog {
  position: relative; }
  /* line 17, sass/_blog.scss */
  .postsblog span {
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    background: black;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 0px; }
  /* line 28, sass/_blog.scss */
  .postsblog .tagblog {
    background: url("img/blog.png") no-repeat center;
    background-size: 100%; }
  /* line 33, sass/_blog.scss */
  .postsblog .tagprojet {
    background: url("img/projet.png") no-repeat center;
    background-size: 100%; }

/* line 42, sass/_blog.scss */
.articleslist, .titresans {
  margin: 5.625em 0px;
  /*90/16*/
  border: none; }
  /* line 46, sass/_blog.scss */
  .articleslist h3, .titresans h3 {
    display: block; }

/* line 51, sass/_blog.scss */
.tri {
  text-align: left;
  border-top: 1px solid #C8C8C8;
  padding-top: 0.625em;
  /*10/16*/ }
  /* line 56, sass/_blog.scss */
  .tri a {
    text-decoration: none;
    margin-right: 1.666666666667%;
    /*20/1200*/
    padding-top: 0.4375em;
    /*7/16*/
    -moz-transition: all 0.5s ease 0;
    -ms-transition: all 0.5s ease 0;
    -webkit-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
    border-top: 2px solid rgba(1, 1, 1, 0);
    color: black; }
    /* line 65, sass/_blog.scss */
    .tri a:last-child {
      margin: 0px; }
    /* line 69, sass/_blog.scss */
    .tri a:hover {
      border-top: 2px solid black; }
  /* line 75, sass/_blog.scss */
  .tri .triselect {
    border-top: 2px solid black; }

/* line 81, sass/_blog.scss */
.tag {
  color: black;
  margin-right: 0.416666666667%;
  /*5/1200*/ }

/* line 87, sass/_blog.scss */
.linkarticle {
  text-decoration: none;
  color: black;
  display: inline-block; }

/* line 93, sass/_blog.scss */
.singlepost {
  width: 70%;
  margin: 0px auto; }
  /* line 97, sass/_blog.scss */
  .singlepost p {
    margin-bottom: 1.04166666666667em;
    /*19.2/20*/ }

/* line 103, sass/_blog.scss */
.allarticles {
  margin-top: 5em;
  /*80/16*/ }
  /* line 107, sass/_blog.scss */
  .allarticles h4 {
    margin-bottom: 0.3125em; }
  /* line 111, sass/_blog.scss */
  .allarticles .infosarticle {
    margin-top: 0.9375em;
    /*15/16*/ }
    /* line 114, sass/_blog.scss */
    .allarticles .infosarticle p {
      display: inline; }
      /* line 117, sass/_blog.scss */
      .allarticles .infosarticle p:after {
        content: "|";
        margin: 0px 0.833333333333%;
        /*10/1200*/ }

/* line 126, sass/_blog.scss */
.singlearticle {
  padding-bottom: 1.25em;
  /*20/16*/
  margin-bottom: 1.25em;
  border-bottom: 1px solid #C8C8C8; }
  /* line 131, sass/_blog.scss */
  .singlearticle:last-child {
    border-bottom: none;
    margin-bottom: 0px; }

/* line 1, sass/_projets.scss */
.singleprojet {
  position: relative; }
  /* line 6, sass/_projets.scss */
  .singleprojet img {
    width: 100%;
    margin-bottom: 3.75em;
    /*60/16*/ }
  /* line 11, sass/_projets.scss */
  .singleprojet > .textes {
    width: 45.94595%;
    float: left;
    margin-right: 1.35135%; }
    /* line 15, sass/_projets.scss */
    .singleprojet > .textes p {
      margin-bottom: 1.25em;
      /*20/16*/ }
      /* line 18, sass/_projets.scss */
      .singleprojet > .textes p:last-child {
        margin-bottom: 0px; }

/* line 26, sass/_projets.scss */
.outils {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  float: right;
  margin-right: 0; }
  /* line 31, sass/_projets.scss */
  .outils h4 {
    margin-bottom: 1.33928571428571em;
    /*30/22.4*/ }
  /* line 35, sass/_projets.scss */
  .outils li {
    width: 13.7931%;
    float: left;
    margin-right: 3.44828%;
    margin-left: 0;
    margin-right: 2%; }
    /* line 40, sass/_projets.scss */
    .outils li:nth-child(6n+6) {
      margin: 0px; }
  /* line 45, sass/_projets.scss */
  .outils ul {
    width: 80%;
    margin: 0px auto; }

/* line 1, sass/_portrait.scss */
.portrait {
  width: 32.43243%;
  float: left;
  margin-right: 1.35135%;
  margin-left: 0;
  overflow: hidden;
  height: 31.25em;
  /*500/16*/ }
  /* line 7, sass/_portrait.scss */
  .portrait img {
    width: 100%; }

/* line 13, sass/_portrait.scss */
.bio {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/* line 17, sass/_portrait.scss */
.bio p, .bio ul {
  margin-bottom: 15px;
  width: 59.45946%;
  float: left;
  margin-right: 1.35135%;
  float: right;
  margin-right: 0;
  line-height: 1.13; }

/* line 26, sass/_portrait.scss */
.bio li {
  margin-bottom: 0.625em;
  /*10/16*/ }

/* line 30, sass/_portrait.scss */
.bio h4 {
  width: 59.45946%;
  float: left;
  margin-right: 1.35135%;
  float: right;
  margin-right: 0;
  margin: 0px auto 1.04166666666667em;
  /*20/19.2*/ }

/* line 4, sass/_fonts.scss */
body, html {
  font-family: 'Source Sans Pro', sans-serif; }

/* line 10, sass/_fonts.scss */
.posts p, .messageform input, .messageform textarea, .projets div {
  font-size: 0.9em; }

/* line 14, sass/_fonts.scss */
nav, .intro, .singlepost, .singlearticle, .bio p, .bio ul, .singleprojet {
  font-weight: 300; }

/* line 18, sass/_fonts.scss */
.posts h4, .allarticles h4, .twitter h4, .bio h4 {
  font-weight: 600; }

/* line 22, sass/_fonts.scss */
.posts, .singleprojet .textes {
  text-align: justify; }

/* line 26, sass/_fonts.scss */
.singlepost, .allarticles, .messageform, .bio, .projets div {
  text-align: left; }

/* line 30, sass/_fonts.scss */
.logosfooter, .largeillu, .intro, .singleprojet h4, .container section {
  text-align: center; }

/* line 34, sass/_fonts.scss */
header h1, .singleprojet h4 {
  text-transform: uppercase; }

/* line 38, sass/_fonts.scss */
header h2, .intro, section h3 {
  font-style: italic; }

/* line 43, sass/_fonts.scss */
.singlepost, .bio h4, .projets div h4 {
  font-size: 1.2em; }

/* line 50, sass/_fonts.scss */
header h1 {
  font-size: 3.125em;
  /*50/16*/ }
/* line 54, sass/_fonts.scss */
header h2 {
  font-size: 2.5em;
  /*40/16*/ }
/* line 58, sass/_fonts.scss */
header .textheader {
  font-weight: 700; }
/* line 61, sass/_fonts.scss */
header nav {
  font-size: 1.125em;
  /*18/16*/ }

/* line 66, sass/_fonts.scss */
.intro {
  font-size: 1.625em;
  /*26/16*/ }

/* line 71, sass/_fonts.scss */
.projets div {
  font-size: 0.9em; }

/* line 77, sass/_fonts.scss */
.singleprojet h4 {
  font-size: 1.4em; }

/* line 83, sass/_fonts.scss */
.container section h3 {
  font-size: 1.375em;
  /*22/16*/ }

@media all and (min-width: 1250px) and (max-width: 1300px) {
  /* line 4, sass/_mediaqueries.scss */
  .posts {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; } }
@media all and (min-width: 1000px) and (max-width: 1249px) {
  /* line 14, sass/_mediaqueries.scss */
  .posts {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; } }
@media all and (max-width: 999px) {
  /* line 24, sass/_mediaqueries.scss */
  .posts, #twitter {
    display: inline-block;
    width: 100%;
    float: none; }

  /* line 31, sass/_mediaqueries.scss */
  .posts {
    padding-left: 10%; }

  /* line 35, sass/_mediaqueries.scss */
  #twitter {
    margin-top: 5em; }

  /* line 39, sass/_mediaqueries.scss */
  .bouton {
    width: 35%; } }
@media all and (max-width: 850px) {
  /* line 50, sass/_mediaqueries.scss */
  a.featured, a.listed {
    width: 100%;
    margin-bottom: 3em; }

  /* line 57, sass/_mediaqueries.scss */
  .projets:hover div {
    visibility: hidden; }

  /* line 64, sass/_mediaqueries.scss */
  header .textheader {
    width: 80%;
    margin: 0px auto; }

  /* line 70, sass/_mediaqueries.scss */
  .largeillu {
    height: 100%;
    width: auto; } }
@media all and (max-width: 600px) {
  /* line 82, sass/_mediaqueries.scss */
  .portrait, .bio p, .bio ul, .bio h4, .messageform, .singleprojet div.textes, div.outils, .outils ul {
    width: 100%; }

  /* line 89, sass/_mediaqueries.scss */
  .map {
    display: none; }

  /* line 94, sass/_mediaqueries.scss */
  .portrait, .singleprojet div.textes {
    margin-bottom: 2em; }

  /* line 98, sass/_mediaqueries.scss */
  div.container {
    width: 90%; }

  /* line 102, sass/_mediaqueries.scss */
  header nav {
    font-size: 0.9em; }

  /* line 106, sass/_mediaqueries.scss */
  .singlepost, .bio h4, .projets div h4 {
    font-size: 0.9em; }

  /* line 110, sass/_mediaqueries.scss */
  .bouton {
    width: 60%; }

  /* line 114, sass/_mediaqueries.scss */
  .posts {
    padding-left: 15%; }

  /* line 118, sass/_mediaqueries.scss */
  .container section h3 {
    font-size: 1em;
    top: -10px; }

  /* line 123, sass/_mediaqueries.scss */
  .intro {
    font-size: 1.4em; }

  /* line 128, sass/_mediaqueries.scss */
  footer .logosfooter a {
    margin: 0px auto 2em;
    display: block; }
    /* line 132, sass/_mediaqueries.scss */
    footer .logosfooter a:last-child {
      margin: 0px auto 2em; }

  /* line 141, sass/_mediaqueries.scss */
  header h1 {
    font-size: 2.1em;
    /*50/16*/ }
  /* line 145, sass/_mediaqueries.scss */
  header h2 {
    font-size: 1.9em;
    /*40/16*/ } }
/*
Theme Name: Portfolio
Author Name: Axel Cardinaels

*/
/* line 20, sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 42, sass/style.scss */
body, html {
  height: 100%; }

/* line 47, sass/style.scss */
.container {
  width: 71.428571428571%;
  margin: 0px auto; }

/* line 54, sass/style.scss */
div.twitter {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  float: right;
  margin-right: 0;
  height: 25em;
  /*400/16*/ }
  /* line 59, sass/style.scss */
  div.twitter h4 {
    margin-bottom: 20px; }
