/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, sass/_header.scss */
.home {
  animation: header 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: header 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  height: 100%; }
  /* line 10, sass/_header.scss */
  .home .textheader {
    top: 45%; }
  /* line 15, sass/_header.scss */
  .home nav {
    animation: nav 2s ease-in-out 3s;
    animation-fill-mode: forwards;
    -webkit-animation: nav 2s ease-in-out 3s;
    -webkit-animation-fill-mode: forwards; }

/* line 24, sass/_header.scss */
header {
  background: black;
  width: 100%;
  color: white;
  height: 40%;
  position: relative;
  overflow: hidden; }

/* line 35, sass/_header.scss */
.cache {
  background: rgba(1, 1, 1, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; }

/* line 43, sass/_header.scss */
.largeillu {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 0; }

/* line 50, sass/_header.scss */
video {
  position: absolute;
  z-index: 0; }

/* line 55, sass/_header.scss */
h1 {
  text-transform: uppercase;
  font-size: 50px; }

/* line 60, sass/_header.scss */
h2 {
  font-size: 40px;
  font-style: italic; }

/* line 65, sass/_header.scss */
.textheader {
  position: relative;
  width: 900px;
  margin: 0px auto;
  font-weight: bold;
  z-index: 2;
  top: 30%; }

/* line 76, sass/_header.scss */
nav {
  width: 100%;
  font-weight: lighter;
  font-size: 18px;
  position: absolute;
  bottom: 2em;
  text-align: center;
  opacity: 0;
  z-index: 3;
  animation: nav 1s ease-in-out 0s;
  animation-fill-mode: forwards;
  -webkit-animation: nav 1s ease-in-out 0s;
  -webkit-animation-fill-mode: forwards; }
  /* line 95, sass/_header.scss */
  nav .items {
    margin: 0 auto; }
  /* line 105, sass/_header.scss */
  nav li {
    display: inline-block;
    margin-right: 5.952380952381%;
    /*100/1680*/ }
    /* line 108, sass/_header.scss */
    nav li:last-child {
      margin: 0px; }
  /* line 117, sass/_header.scss */
  nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0); }
    /* line 124, sass/_header.scss */
    nav a:hover {
      border-bottom: 2px solid white; }
  /* line 129, sass/_header.scss */
  nav h3 {
    position: absolute;
    text-indent: -9999px;
    visibility: hidden; }

/* line 139, sass/_header.scss */
.current-menu-item {
  border-bottom: 2px solid white; }

@-webkit-keyframes header {
  /* line 145, sass/_header.scss */
  from {
    height: 0%; }

  /* line 146, sass/_header.scss */
  to {
    height: 100%; } }
@keyframes header {
  /* line 150, sass/_header.scss */
  from {
    height: 0%; }

  /* line 151, sass/_header.scss */
  to {
    height: 100%; } }
@-webkit-keyframes nav {
  /* line 156, sass/_header.scss */
  from {
    opacity: 0; }

  /* line 157, sass/_header.scss */
  to {
    opacity: 1; } }
@keyframes nav {
  /* line 161, sass/_header.scss */
  from {
    opacity: 0; }

  /* line 162, sass/_header.scss */
  to {
    opacity: 1; } }
/* line 2, sass/_intro.scss */
.intro {
  font-size: 26px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 0px 0px 90px;
  color: #676767;
  width: 83.333333333333%;
  margin: 0px auto; }
  /* line 14, sass/_intro.scss */
  .intro h3 {
    position: absolute;
    text-indent: -9999px;
    visibility: hidden; }

/* line 22, sass/_intro.scss */
.introabout {
  padding-bottom: 0px; }

/* line 1, sass/_previewprojets.scss */
.projets {
  box-shadow: 0px 0px 9px rgba(1, 1, 1, 0.3);
  position: relative;
  overflow: hidden; }
  /* line 6, sass/_previewprojets.scss */
  .projets div {
    visibility: hidden;
    position: absolute;
    height: 100%;
    bottom: 100%;
    transition: all 0.3s ease-in-out;
    background: rgba(1, 1, 1, 0.6);
    opacity: 0;
    z-index: 2;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px;
    font-size: 0.95em; }
    /* line 21, sass/_previewprojets.scss */
    .projets div h4 {
      font-size: 1.2em;
      margin-bottom: 10px; }
  /* line 29, sass/_previewprojets.scss */
  .projets:hover div {
    visibility: visible;
    opacity: 1;
    bottom: 0px; }

/* line 37, sass/_previewprojets.scss */
.featured {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  margin-bottom: 90px; }
  /* line 41, sass/_previewprojets.scss */
  .featured:nth-child(even) {
    float: right;
    margin-right: 0; }

/* line 46, sass/_previewprojets.scss */
.listed {
  width: 30.37975%;
  float: left;
  margin-right: 1.26582%;
  margin-bottom: 50px;
  margin-right: 50px; }
  /* line 51, sass/_previewprojets.scss */
  .listed:nth-child(3n+3) {
    margin-right: 0px; }
  /* line 55, sass/_previewprojets.scss */
  .listed:last-child {
    margin-bottom: 125px; }

/* line 60, sass/_previewprojets.scss */
.imgpreview {
  width: 100%; }

/*
Theme Name: Portfolio
Author Name: Axel Cardinaels

*/
/* line 20, sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 37, sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 48, sass/style.scss */
body, html {
  height: 100%;
  font-family: "source sans pro"; }

/* line 53, sass/style.scss */
#container {
  width: 100%; }

/* line 64, sass/style.scss */
.location {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 49%;
  top: 43%;
  border-radius: 100%;
  border: 2px solid white; }

/* line 74, sass/style.scss */
.map {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  height: 560px;
  position: relative; }
  /* line 82, sass/style.scss */
  .map #map-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  /* line 91, sass/style.scss */
  .map .oupeye {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    color: white;
    background: rgba(1, 1, 1, 0.3);
    height: 100%;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0; }
    /* line 101, sass/style.scss */
    .map .oupeye > p {
      position: absolute;
      top: 50%;
      width: 100%; }
  /* line 109, sass/style.scss */
  .map:hover .oupeye {
    opacity: 0; }

/* line 120, sass/style.scss */
.container {
  width: 71.428571428571%;
  margin: 0px auto; }
  /* line 124, sass/style.scss */
  .container .linkarticle {
    text-decoration: none;
    color: black; }
  /* line 130, sass/style.scss */
  .container .push {
    margin-bottom: 90px; }
  /* line 134, sass/style.scss */
  .container .singlepost {
    width: 70%;
    margin: 0px auto;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left; }
    /* line 142, sass/style.scss */
    .container .singlepost p {
      margin-bottom: 20px; }
  /* line 147, sass/style.scss */
  .container .singleprojet {
    font-weight: 300;
    position: relative; }
    /* line 152, sass/style.scss */
    .container .singleprojet h4 {
      font-size: 1.4em;
      text-transform: uppercase;
      text-align: center;
      width: 45.94595%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0; }
    /* line 161, sass/style.scss */
    .container .singleprojet img {
      width: 100%;
      margin-bottom: 60px; }
    /* line 166, sass/style.scss */
    .container .singleprojet > .textes {
      width: 45.94595%;
      float: left;
      margin-right: 1.35135%;
      text-align: justify; }
      /* line 172, sass/style.scss */
      .container .singleprojet > .textes p {
        margin-bottom: 20px; }
        /* line 175, sass/style.scss */
        .container .singleprojet > .textes p:last-child {
          margin-bottom: 0px; }
    /* line 183, sass/style.scss */
    .container .singleprojet li {
      width: 13.7931%;
      float: left;
      margin-right: 3.44828%;
      margin-left: 0;
      margin-right: 2%; }
      /* line 188, sass/style.scss */
      .container .singleprojet li:nth-child(6n+6) {
        margin: 0px; }
    /* line 197, sass/style.scss */
    .container .singleprojet > ul {
      width: 45.94595%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      margin: 40px auto; }
  /* line 207, sass/style.scss */
  .container .allproject {
    clear: both;
    width: 20%;
    color: #C8C8C8;
    border: 1.5px #C8C8C8 solid;
    float: right;
    margin-right: 0;
    text-decoration: none;
    padding: 5px;
    background: white;
    -moz-transition: all 0.5s ease-in-out 0;
    -ms-transition: all 0.5s ease-in-out 0;
    -webkit-transition: all 0.5s ease-in-out 0;
    transition: all 0.5s ease-in-out 0; }
    /* line 220, sass/style.scss */
    .container .allproject:hover {
      border: 1.5px black solid;
      color: black; }
  /* line 232, sass/style.scss */
  .container .articleslist, .container .titresans {
    margin: 90px 0px;
    border: none; }
    /* line 236, sass/style.scss */
    .container .articleslist h3, .container .titresans h3 {
      display: block; }
    /* line 240, sass/style.scss */
    .container .articleslist .messageform, .container .titresans .messageform {
      width: 45.94595%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      text-align: left;
      margin-bottom: 125px; }
      /* line 246, sass/style.scss */
      .container .articleslist .messageform input, .container .articleslist .messageform textarea, .container .titresans .messageform input, .container .titresans .messageform textarea {
        width: 100%;
        border: 1px #67676 solid; }
      /* line 257, sass/style.scss */
      .container .articleslist .messageform input, .container .titresans .messageform input {
        font-weight: lighter;
        font-size: 0.9em;
        height: 40px;
        margin-bottom: 20px; }
        /* line 264, sass/style.scss */
        .container .articleslist .messageform input:focus, .container .titresans .messageform input:focus {
          border: none;
          outline: none; }
      /* line 272, sass/style.scss */
      .container .articleslist .messageform textarea, .container .titresans .messageform textarea {
        height: 120px;
        margin-bottom: 20px; }
        /* line 275, sass/style.scss */
        .container .articleslist .messageform textarea:focus, .container .titresans .messageform textarea:focus {
          border: none;
          outline: none; }
    /* line 289, sass/style.scss */
    .container .articleslist .tri, .container .titresans .tri {
      text-align: left;
      border-top: 1px solid #C8C8C8;
      padding-top: 10px; }
      /* line 296, sass/style.scss */
      .container .articleslist .tri a, .container .titresans .tri a {
        text-decoration: none;
        margin-right: 20px;
        padding-top: 7px;
        -moz-transition: all 0.5s ease 0;
        -ms-transition: all 0.5s ease 0;
        -webkit-transition: all 0.5s ease 0;
        transition: all 0.5s ease 0;
        border-top: 2px solid rgba(1, 1, 1, 0); }
        /* line 304, sass/style.scss */
        .container .articleslist .tri a:last-child, .container .titresans .tri a:last-child {
          margin: 0px; }
        /* line 308, sass/style.scss */
        .container .articleslist .tri a:hover, .container .titresans .tri a:hover {
          border-top: 2px solid black; }
      /* line 313, sass/style.scss */
      .container .articleslist .tri .triselect, .container .titresans .tri .triselect {
        border-top: 2px solid black; }
    /* line 319, sass/style.scss */
    .container .articleslist .portrait, .container .titresans .portrait {
      width: 32.43243%;
      float: left;
      margin-right: 1.35135%;
      margin-left: 0;
      overflow: hidden;
      height: 500px;
      margin-bottom: 125px; }
      /* line 326, sass/style.scss */
      .container .articleslist .portrait img, .container .titresans .portrait img {
        width: 100%; }
    /* line 332, sass/style.scss */
    .container .articleslist .bio, .container .titresans .bio {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      text-align: left; }
    /* line 337, sass/style.scss */
    .container .articleslist .bio p, .container .articleslist .bio ul, .container .titresans .bio p, .container .titresans .bio ul {
      margin-bottom: 15px;
      width: 59.45946%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      font-weight: 300; }
    /* line 344, sass/style.scss */
    .container .articleslist .bio li, .container .titresans .bio li {
      margin-bottom: 10px; }
    /* line 348, sass/style.scss */
    .container .articleslist .bio h4, .container .titresans .bio h4 {
      width: 59.45946%;
      float: left;
      margin-right: 1.35135%;
      float: right;
      margin-right: 0;
      font-weight: 500;
      font-size: 1.2em;
      margin: 20px auto; }
    /* line 360, sass/style.scss */
    .container .articleslist .allarticles, .container .titresans .allarticles {
      text-align: left;
      margin-top: 80px; }
      /* line 364, sass/style.scss */
      .container .articleslist .allarticles .singlearticle, .container .titresans .allarticles .singlearticle {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #C8C8C8;
        font-weight: 300; }
        /* line 370, sass/style.scss */
        .container .articleslist .allarticles .singlearticle:last-child, .container .titresans .allarticles .singlearticle:last-child {
          border-bottom: none;
          margin-bottom: 0px; }
      /* line 377, sass/style.scss */
      .container .articleslist .allarticles h4, .container .titresans .allarticles h4 {
        font-weight: 600;
        margin-bottom: 5px; }
      /* line 382, sass/style.scss */
      .container .articleslist .allarticles .infosarticle, .container .titresans .allarticles .infosarticle {
        margin-top: 15px; }
        /* line 386, sass/style.scss */
        .container .articleslist .allarticles .infosarticle p, .container .titresans .allarticles .infosarticle p {
          display: inline; }
          /* line 389, sass/style.scss */
          .container .articleslist .allarticles .infosarticle p:after, .container .titresans .allarticles .infosarticle p:after {
            content: "|";
            margin: 0px 10px; }
  /* line 399, sass/style.scss */
  .container section {
    border-top: 2px solid #DDDDDD;
    clear: both;
    position: relative;
    text-align: center; }
    /* line 406, sass/style.scss */
    .container section h3 {
      font-size: 22px;
      font-weight: semibold;
      font-style: italic;
      color: #676767;
      position: relative;
      background: white;
      padding: 0px 35px;
      top: -14px;
      text-align: center;
      margin: 0px auto;
      display: inline-block;
      margin-bottom: 70px; }
  /* line 429, sass/style.scss */
  .container .postsblog {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    /* line 12, sass/susy/output/support/_clearfix.scss */
    .container .postsblog:after {
      content: " ";
      display: block;
      clear: both; }
    /* line 434, sass/style.scss */
    .container .postsblog span {
      width: 35px;
      height: 35px;
      text-indent: -9999px;
      background: black;
      display: inline-block;
      border-radius: 100%;
      position: absolute;
      left: 0px; }
    /* line 449, sass/style.scss */
    .container .postsblog .tagblog {
      background: url("img/blog.png") no-repeat center;
      background-size: 100%; }
    /* line 455, sass/style.scss */
    .container .postsblog .tagprojet {
      background: url("img/projet.png") no-repeat center;
      background-size: 100%; }
    /* line 461, sass/style.scss */
    .container .postsblog .posts {
      width: 57.62712%;
      float: left;
      margin-right: 1.69492%;
      margin-bottom: 20px;
      text-align: justify;
      padding-left: 65px; }
      /* line 468, sass/style.scss */
      .container .postsblog .posts h4 {
        margin-bottom: 5px;
        font-weight: 500; }
      /* line 473, sass/style.scss */
      .container .postsblog .posts p {
        font-size: 0.9em; }
    /* line 483, sass/style.scss */
    .container .postsblog div.twitter {
      width: 40.67797%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      height: 400px; }
      /* line 489, sass/style.scss */
      .container .postsblog div.twitter h4 {
        font-weight: 500;
        margin-bottom: 20px; }

/* line 1, sass/_footer.scss */
footer {
  width: 100%;
  margin: 100px auto 0px auto;
  border-top: 1.5px solid #DDDDDD;
  clear: both; }
  /* line 8, sass/_footer.scss */
  footer .logosfooter {
    text-align: center;
    margin: 80px auto; }
    /* line 13, sass/_footer.scss */
    footer .logosfooter a {
      height: 40px;
      display: inline-block;
      overflow: hidden;
      background-image: url("img/socialsprite.png");
      -moz-transition: all 0.15s ease-in-out 0;
      -ms-transition: all 0.15s ease-in-out 0;
      -webkit-transition: all 0.15s ease-in-out 0;
      transition: all 0.15s ease-in-out 0;
      display: inline-block;
      margin-right: 10%; }
      /* line 22, sass/_footer.scss */
      footer .logosfooter a:last-child {
        margin: 0px; }
  /* line 30, sass/_footer.scss */
  footer .dribbble {
    width: 40px;
    background-position: -81px 0px; }
    /* line 35, sass/_footer.scss */
    footer .dribbble:hover {
      background-position: -81px -78px; }
  /* line 40, sass/_footer.scss */
  footer .behance {
    width: 62px;
    background-position: 0 0px; }
    /* line 44, sass/_footer.scss */
    footer .behance:hover {
      background-position: 0px -78px; }
  /* line 50, sass/_footer.scss */
  footer a.twitter {
    width: 47px;
    background-position: -304px -1px; }
    /* line 54, sass/_footer.scss */
    footer a.twitter:hover {
      background-position: -304px -78px; }
  /* line 59, sass/_footer.scss */
  footer .linkedin {
    width: 145px;
    background-position: -139px -1px; }
    /* line 63, sass/_footer.scss */
    footer .linkedin:hover {
      background-position: -139px -78px; }
